include MANIFEST.in
include README.rst
recursive-include bookmarks/static *
recursive-include bookmarks/templates *.html
recursive-exclude bookmarks *~
recursive-exclude bookmarks \#*
recursive-exclude bookmarks \.#*
